[Interface]
Address = {{ join .Addresses ", " }}
PrivateKey = {{ .PrivateKey }}
ListenPort = {{ .ListenPort }}
{{- if or .EnableIPv4 .EnableIPv6 }}
PostUp = {{ .PostUp }}
PostDown = {{ .PostDown }}
{{- end }}